head
  meta(charset='utf-8')
  meta(property='fragment', content='!')
  base(href='/')
  title=title
  link(rel='stylesheet', href='/css/bootstrap.css')
  link(rel='stylesheet', href='/css/blueimp-gallery.min.css')
  link(rel='stylesheet', href='/css/bootstrap-image-gallery.min.css')
  link(rel='stylesheet', href='/css/common.css')

  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
