head
  meta(charset='utf-8')
  meta(property='fragment', content='!')
  meta(name="robots", content="all")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  base(href='/')
  title(ng-bind-html-unsafe="title | translate") Шкафы-купе на заказ в Риге от компании "Rimsi" | заказать шкаф купе.
  //title {{ 'TITLE' | translate }}
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/blueimp-gallery.min.css')
  link(rel='stylesheet', href='/css/bootstrap-image-gallery.min.css')
  link(rel='stylesheet', href='/css/rmm-css/responsivemobilemenu.css')
  link(rel='stylesheet', href='/css/mobile.css')
  link(rel='stylesheet', href='/css/common.css')