<div class="row">
    <div class="col-xs-3 col-sm-2 col-md-3 language">
        <language class="pull-right"></language>
    </div>
    <div class="col-xs-5 col-sm-3 col-md-2 logo"><a href="/"><img src="/images/logo.png" alt="Rimsi logo"></a></div>
    <div class="col-xs-4 col-sm-2 col-md-1 col-xs-offset-0 col-sm-offset-1 col-md-offset-2 worktime">{{ 'WORK_TIME' | translate }}<br />9:00 - 21:00</div>
    <div class="col-xs-1 col-sm-2 col-md-2 col-lg-1 clock"><img src="/images/clock.png"  alt="work time"></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 worktime"><a href="tel:+37120015525" class="mobile">+37120015525</a><a href="tel:+37120015525" class="not-mobile">+371 200 155 25</a><br /><a href="mailto:info@rimsi.lv">info@rimsi.lv</a></div>
</div>