<!--
<div class="row">
    <div class="col-md-3 left-header"></div>
    <div class="col-md-9 center-header">
        <div class="logo"><a href="/"><img src="/images/logo.png"></a></div>

        <div class="contacts">
            <span class="phone">+371 2312312312</span><br />
            <span class="email"><a href="mailto:email">email</a></span>
        </div>
    </div>
</div>-->
<div class="row">
    <div class="col-md-3">
        <language class="pull-right"></language>
    </div>
    <div class="col-md-1 logo"><a href="/"><img src="/images/logo.png"></a></div>
    <div class="col-md-3"></div>
    <div class="col-md-1 worktime">{{ 'WORK_TIME' | translate }}<br />9:00 - 21:00</div>
    <div class="col-md-1 clock"><img src="/images/clock.png"></div>
</div>