!!!
html(ng-app="rimsi")
    include includes/head
    body(ng-controller="MainCtrl")
        div.header(data-ng-include="'views/header.html'", data-role="navigation")
        main-menu(type="top-menu", get-title="getPageTitle")
        div.wrap
            div.container
                div.row.carousel-content
                    div#main-carousel.carousel.slide.col-md-12(data-ng-include="'views/frontend/slide.html'", data-ride="carousel")
                div.content.row
                    div.container
                        div.left-content.col-md-2
                            div(data-ng-include="'views/frontend/left-bar.html'")
                        div.center-cotnent.col-md-8
                            block content
                        div.right-content.col-md-2
                            div(data-ng-include="'views/frontend/right-bar.html'")
        div.navbar.navbar-default.navbar-static(data-ng-include="'views/frontend/footer.html'")
        div#blueimp-gallery.blueimp-gallery
            div.slides
            div.title
            a.prev‹
            a.next›
            a.close×
            a.play-pause
            ol.indicator
            div.modal.fade
                div.modal-dialog
                    div.modal-header
                        button.close(type="button", arial-hidden="true")&times;
                        h4.modal-title
                    div.modal-body.next
                    div.modal-footer
                        button.btn.btn-default.pull-left.prev(type="button")
                            i.glyphicon.glyphicon-chevron-left
                            Previous
                        button.btn.btn-primary.next(type="button")
                            Next
                            i.glyphicon.glyphicon-chevron-right


    include includes/foot