
.detail-form input {
    width: 250px;
}
.detail-form textarea {
    width: 450px;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.content-photo {
    width: 200px;
    float: left;
    height: 110px;
    margin-top: 5px;
    margin-right: 5px;
}
.content-info {
    min-height: 115px;
}
