//Dependencies
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js')
//script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-sanitize.min.js')

script(type='text/javascript', src='/js/lib/jquery.js')
//script(type='text/javascript', src='/js/lib/angular-1.2.2/angular.min.js')
script(type='text/javascript', src='/js/lib/bootstrap.js')


script(type='text/javascript', src='/js/lib/angular-1.2.2/angular-cookies.js')
script(type='text/javascript', src='/js/lib/angular-1.2.2/angular-resource.js')
script(type='text/javascript', src='/js/lib/angular-1.2.2/angular-route.js')
script(type='text/javascript', src='/js/lib/angular-1.2.2/angular-sanitize.js')
script(type='text/javascript', src='/js/lib/angular-1.2.2/i18n/angular-locale_ru-ru.js')
script(type='text/javascript', src='/js/lib/angular-1.2.2/i18n/angular-locale_ru.js')
script(type='text/javascript', src='/js/lib/angular-1.2.2/i18n/angular-locale_lv.js')
script(type='text/javascript', src='/js/lib/angular-1.2.2/i18n/angular-locale_lv-lv.js')

script(type='text/javascript', src='/js/lib/textAngular.js')
script(type='text/javascript', src='/js/lib/angular-translate.js')
script(type='text/javascript', src='/js/lib/ng-file-upload/angular-file-upload.min.js')


script(type='text/javascript', src='/js/app-be.js')
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/be-services.js')
script(type='text/javascript', src='/js/controllers/be-controllers.js')


