<div class="footer-bg1"></div>
<div class="footer-bg2"></div>

        <main-menu type="bottom-menu" get-title="getPageTitle"></main-menu>
<!--<div class="bottom-menu">
    <ul class="menu">
        <li id="current" class="first active item1"><a href="http://armarios.ru/"><span>Главная</span></a></li>
        <li class="parent item14"><a href="/materials"><span>Материалы</span></a>
            <ul>
                <li class="first item33"><a href="/materials/system-a"><span>Системы Шкафов купе</span></a></li>
                <li class="item34"><a href="/materials/obrabotka"><span>Обработка поверхностей</span></a></li>
                <li class="item35"><a href="/materials/dekor"><span>Декоративные материалы</span></a></li>
                <li class="item36"><a href="/materials/dsp"><span>ДСП</span></a></li>
                <li class="item38"><a href="/materials/steklo"><span>Стекло и зеркало</span></a></li>
                <li class="item80"><a href="/materials/fotopechat"><span>Фотопечать</span></a></li>
                <li class="last item85"><a href="/materials/potternaya-rezka"><span>Плоттерная резка</span></a></li>
            </ul>
        </li>
        <li class="item68"><a href="/otzivi"><span>Отзывы</span></a></li>
        <li class="item49"><a href="/o-nas"><span>О нас</span></a></li>
        <li class="item15"><a href="/parners"><span>Партнёрство</span></a></li>
        <li class="last item16"><a href="/kontakt"><span>Контакты</span></a></li>
    </ul>
</div>-->



