<div class="left-menu-buttons">
    <div class="left-menu-button constructor">
        <a href="#!/constructor"><span>{{ 'CONSTRUCTOR' | translate }}</span></a>
    </div>
</div>
<div class="left-menu-buttons">
    <div class="left-menu-button special-offer">
        <a href="#!/spec_offers"><span>{{ 'SPEC_OFFERS' | translate }}</span></a>
    </div>
</div>
<div class="left-menu-buttons">
    <div class="left-menu-button photo-gallery">
        <a href="#!/gallery"><span class="small">{{ 'GALLERY' | translate }}</span></a>
    </div>
</div>
<div class="left-menu-buttons">
    <div class="left-menu-button measurer">
        <a href="#!/call_measurer"><span>{{ 'MEASURER' | translate }}</span></a>
    </div>
</div>
<div class="left-menu-buttons">
    <div class="left-menu-button delivery">
        <a href="#!/delivery"><span class="small">{{ 'DELIVERY' | translate }}</span></a>
    </div>
</div>
<div class="left-menu-buttons">
    <div class="left-menu-button assembly">
        <a href="#!/assembly"><span class="small">{{ 'ASSEMBLY' | translate }}</span></a>
    </div>
</div>