
<div class="module">
    <div class="news-top">
        <h4>НОВОСТИ</h4>
    </div>
    <div class="center">
        <div class="view-all">
            <a href="#!/news"><span>смотреть все</span></a>
        </div>
    </div>
    <div class="bottom"></div>
</div>
<div class="module">
    <div class="advices-top">
        <h4>СОВЕТЫ СПЕЦИАЛИСТОВ</h4>
    </div>
    <div class="center">
        <div class="view-all">
            <a href="#!/advices"><span>смотреть все</span></a>
        </div>
    </div>

    <div class="bottom"></div>
</div>