
<div class="module">
    <div class="news-top">
        <h4>{{ 'NEWS' | translate }}</h4>
    </div>
    <div class="center">
        <module-content type="news"></module-content>
        <div class="view-all">
            <a href="#!/news"><span>{{ 'SHOW_ALL' | translate }}</span></a>
        </div>
    </div>
    <div class="bottom"></div>
</div>
<div class="module">
    <div class="advices-top">
        <h4>{{ 'ADVICES' | translate }}</h4>
    </div>
    <div class="center">
        <module-content type="advices"></module-content>
        <div class="view-all">
            <a href="#!/advices"><span>{{ 'SHOW_ALL' | translate }}</span></a>
        </div>
    </div>

    <div class="bottom"></div>
</div>