<div class="top-menu">
    <ul class="menu">
        <li id="current" class="first active"><a href="admin#!/"><span>Главная</span></a></li>
        <li class="parent"><a href="admin#!/email/in"><span>Почта</span></a>
            <ul>
                <li class=""><a href="admin#!/email/in"><span>Входящии</span></a></li>
                <li class=""><a href="admin#!/email/out"><span>Исходящии</span></a></li>
                <li class=""><a href="admin#!/email/send"><span>Написать</span></a></li>
            </ul>
        </li>
        <li class="parent"><a href="admin#!/products"><span>Продукты</span></a>
            <ul>
                <li class="first"><a href="admin#!/products"><span>Список</span></a></li>
                <li class=""><a href="admin#!/products/add"><span>Добавить новый</span></a></li>
            </ul>
        </li>
        <li class="parent"><a href="admin#!/materials"><span>Материалы</span></a>
            <ul>
                <li class="first item33"><a href="admin#!/materials"><span>Список</span></a></li>
                <li class="item34"><a href="admin#!/materials/add"><span>Добавить новый</span></a></li>
            </ul>
        </li>
        <li class="parent"><a href="admin#!/news"><span>Новости</span></a>
            <ul>
                <li class="first"><a href="admin#!/news"><span>Список</span></a></li>
                <li class=""><a href="admin#!/news/add"><span>Добавить новый</span></a></li>
            </ul>
        </li>
        <li class="parent"><a href="admin#!/advices"><span>Советы спец.</span></a>
            <ul>
                <li class="first"><a href="admin#!/advices"><span>Список</span></a></li>
                <li class=""><a href="admin#!/advices/add"><span>Добавить новый</span></a></li>
            </ul>
        </li>
        <li class="parent "><a href><span>Остальное</span></a>
            <ul>
                <li class=""><a href="admin#!/index"><span>Главная станица</span></a></li>
                <li class=""><a href="admin#!/contacts"><span>Контакты</span></a></li>
                <li class=""><a href="admin#!/review"><span>Отзывы</span></a></li>
                <li class=""><a href="admin#!/about_us"><span>О нас</span></a></li>
                <li class=""><a href="admin#!/delivery"><span>Доставка</span></a></li>
                <li class=""><a href="admin#!/call_measurer"><span>Вызов замершика</span></a></li>
                <li class=""><a href="admin#!/assembly"><span>Сборка</span></a></li>
                <li class=""><a href="admin#!/spec_offers"><span>Спец Предложения</span></a></li>
            </ul>
        </li>
        <li class="parent"><a href="admin#!/users"><span>Пользователи</span></a>
            <ul>
                <li class="first"><a href="admin#!/users"><span>Список</span></a></li>
                <li class=""><a href="admin/signup"><span>Добавить новый</span></a></li>
            </ul>
        </li>
        <li class=""><a href="/admin/logout"><span>Выйти</span></a></li>
    </ul>
</div>